@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    @apply text-slate-800
  }

  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: rgb(16, 82, 158);

  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: rgb(16, 82, 158);

  }

}

.premium-transition {
  transition-timing-function: cubic-bezier(.32, .72, 0, 1);
  transition: all .25s;
}

.h-fill-available {
  height: -webkit-fill-available;
}

.scroll::-webkit-scrollbar {
  transition-property: color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 0.625rem;
  height: 0.625rem;

}


.scroll::-webkit-scrollbar-thumb {
  transition-property: color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: white;
  position: relative;
  flex: 1 1 0%;
  border-radius: 9999px;
  border: 1.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;

}

.scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgb(226 232 240);


}

